body{
    background-color:rosybrown
    }

body{
    background-color:beige}
    h1{
        color:gold ;
        font-family:arial ;
        background:bisque ;
        }

        p{
            color:blanchedalmond ;
            font-family:Arial, Helvetica, sans-serif ;
            font: size 20px; ;
            background:bisque ;
            }